<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Spicejet">
	<test name="BookTick">
		<classes>
			<class name="com.cucumber.TestRunner.BookTicket" />
		</classes>
	</test>
	
	<test name="Registration">
		<classes>
			<class name="com.cucumber.TestRunner.RegistrationRunner" />
		</classes>
	</test>

</suite>